.control-label {
  @apply font-sans text-base;
}

.input {
  @apply flex flex-col;
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  @apply text-base text-gray-800 border border-gray-300 rounded-sm;
}

select {
  >option {
    @apply font-body;
  }
}

.table-responsive {
  @apply text-lg mb-8;

  tr {
    @apply border-b border-gray-200;
  }

  td {
    @apply p-2;
  }
}

.summary-table-first-col {
  @apply pr-8 opacity-75;
}

legend {
  @apply mb-4;
}

.form-group + .form-group,
input + .form-group {
  @apply mt-6;
}

.form-row + .form-row {
  @apply mt-24;
}

.step-indicator {
  list-style: none;
  counter-reset: step-number;

  li {
    counter-increment: step-number;

    &:before {
      content: counter(step-number);
      right: 100%;
      @apply absolute bg-primary-400 font-sans text-white rounded-full text-xs -ml-8 h-6 w-6 text-center opacity-50;
      line-height: 2.0;
    }

    &.active {
      @apply font-semibold;

      &:before {
        @apply bg-primary-500 opacity-75;
      }
    }
  }
}

.help-block {
  @apply text-sm font-sans text-gray-700;
}

.error {
  &.help-block {
    @apply text-red-800 relative;

    &:before {
      content: '⚠';
      right: 100%;
    }
  }
}

[type="checkbox"], [type="radio"] {
  @apply text-primary-500;
}

[type="checkbox"] {
  @apply h-4 w-4 border rounded-sm border-gray-400 mr-1 mt-2;
}

.form-check-label {
  @apply flex flex-row items-baseline;
}
