form {
  > * + * {
    @apply mt-8;
  }
}

.control-label {
  @apply font-sans text-base mb-2;
}

.input {
  @apply flex flex-col;
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  @apply text-base text-gray-800 border border-gray-300 rounded-sm max-w-xl;
}

select {
  >option {
    @apply font-body;
  }
}

.table-responsive {
  @apply text-lg mb-8;

  tr {
    @apply border-b border-gray-200;
  }

  td {
    @apply p-2;
  }
}

.summary-table-first-col {
  @apply pr-8 opacity-75;
}

legend {
  @apply mb-4;
}

.form-group + .form-group,
input + .form-group {
  @apply mt-6;
}

.form-group {
  > * + * {
    @apply mt-2;
  }
}

.form-row + .form-row {
  @apply mt-24;
}

.step-indicator {
  list-style: none;
  counter-reset: step-number;

  li {
    counter-increment: step-number;

    &:before {
      content: counter(step-number);
      right: 100%;
      @apply absolute bg-primary-400 font-sans text-white rounded-full text-xs -ml-8 h-6 w-6 text-center opacity-50;
      line-height: 2.0;
    }

    &.active {
      @apply font-semibold;

      &:before {
        @apply bg-primary-500 opacity-75;
      }
    }
  }
}

.help-block {
  @apply text-sm text-gray-800 font-sans max-w-xl;
}

.error {
  &.help-block {
    @apply text-red-800 relative;

    &:before {
      content: '⚠';
      right: 100%;
    }
  }
}

[type="checkbox"], [type="radio"] {
  @apply text-primary-500 cursor-pointer;

  ~ span {
    @apply cursor-pointer;
  }
}


[type="radio"] {
  @apply border mr-2;
}

[type="checkbox"] {
  @apply h-4 w-4 border rounded-sm border-gray-400 mr-1 mt-2;
}

.form-check-label {
  @apply flex flex-row items-baseline;
}

/* Position here above .file-upload-container is important to use the cascade. */
.file-upload-fake--hidden {
  display: none;
}

.file-upload-container {
  position: relative;

  .input {
    display: flex;
    align-items: flex-start;
  }

  input {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    height: calc(100% - 24px);
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .file-upload-fake {
    display: flex;
    align-items: baseline;
    gap: 1rem;

    > :first-child {
      border: 1px solid gray;
      border-radius: 3px;
      padding: 0.25rem 1rem;
      user-select: none;
      color: gray;
    }
  }
}

