<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" xmlns:tailwind="http://typo3.org/ns/Rintisch/TailwindcssForm/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment><!-- Hacky solution: Needed for purgeCSS: The full name of the CSS classes which are set with {element.properties.gridGutter}: -mx-6 p-6 --></f:comment>
<formvh:renderRenderable renderable="{element}">
    <f:variable name="gridXGutter">{f:if(condition: '{element.properties.gridXGutter}', then: '{element.properties.gridXGutter} ', else: '0 ')}</f:variable>
    <f:variable name="gridYGutter">{f:if(condition: '{element.properties.gridYGutter}', then: ' {element.properties.gridYGutter} ', else: '')}</f:variable>
    <div class="-mx-{gridXGutter}{gridYGutter}{f:if(condition: element.properties.elementClassAttribute, then: '{element.properties.elementClassAttribute}')}">
        <f:for each="{element.elements}" as="element">
            <div class="px-{gridXGutter}{tailwind:gridColumnClassAutoConfiguration(element: element)}">
                <f:render partial="{element.templateName}" arguments="{element: element}" />
            </div>
        </f:for>
    </div>
</formvh:renderRenderable>
</html>
